public/wsdl/GrepCep.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				xmlns:ns1="http://org.apache.axis2/xsd" 
				xmlns:ns="http://ws.grepcepws.com" 
				xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
				xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
				xmlns:ax21="http://entity.grepcepws.com/xsd" 
				xmlns:xs="http://www.w3.org/2001/XMLSchema" 
				xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
				targetNamespace="http://ws.grepcepws.com">
    <wsdl:documentation>Wsdl que define o serviço de busca de CEP do Grep Cep</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://entity.grepcepws.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.grepcepws.com">
            <xs:import namespace="http://entity.grepcepws.com/xsd"/>
            <xs:element name="obterEnderecoCep">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cep" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obterEnderecoCepResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:ObterCepResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.grepcepws.com/xsd">
            <xs:complexType name="ObterCepResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="cepList" nillable="true" type="ax21:Cep"/>
                    <xs:element minOccurs="0" name="responseCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Cep">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bairro" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cep" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cidade" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="logradouro" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="regiao" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="obterEnderecoCepRequest">
        <wsdl:part name="parameters" element="ns:obterEnderecoCep"/>
    </wsdl:message>
    <wsdl:message name="obterEnderecoCepResponse">
        <wsdl:part name="parameters" element="ns:obterEnderecoCepResponse"/>
    </wsdl:message>
    <wsdl:portType name="GrepCepPortType">
        <wsdl:operation name="obterEnderecoCep">
            <wsdl:input message="ns:obterEnderecoCepRequest" wsaw:Action="urn:obterEnderecoCep"/>
            <wsdl:output message="ns:obterEnderecoCepResponse" wsaw:Action="urn:obterEnderecoCepResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GrepCepSoap11Binding" type="ns:GrepCepPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="obterEnderecoCep">
            <soap:operation soapAction="urn:obterEnderecoCep" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GrepCepSoap12Binding" type="ns:GrepCepPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="obterEnderecoCep">
            <soap12:operation soapAction="urn:obterEnderecoCep" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GrepCepHttpBinding" type="ns:GrepCepPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="obterEnderecoCep">
            <http:operation location="GrepCep/obterEnderecoCep"/>
            <wsdl:input>
                <mime:content type="text/xml" part="obterEnderecoCep"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="obterEnderecoCep"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
	<wsdl:service name="GrepCep">
		<wsdl:port name="GrepCepHttpSoap11Endpoint" binding="ns:GrepCepSoap11Binding">
		<soap:address location="http://webservice.grepcep.com/GrepCepWS/services/GrepCep.GrepCepHttpSoap11Endpoint/"/>
	</wsdl:port>
	<wsdl:port name="GrepCepHttpSoap12Endpoint" binding="ns:GrepCepSoap12Binding">
		<soap12:address location="http://webservice.grepcep.com/GrepCepWS/services/GrepCep.GrepCepHttpSoap12Endpoint/"/>
		</wsdl:port>
	<wsdl:port name="GrepCepHttpEndpoint" binding="ns:GrepCepHttpBinding">
		<http:address location="http://webservice.grepcep.com/GrepCepWS/services/GrepCep.GrepCepHttpEndpoint/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
